@charset "utf-8";

/* company page 공통 내용 */
.submn1 .company_bg { width: 100%; height: 384px; overflow:hidden ; background-image: url(../image/sub-menu-bg1.jpg);background-size: cover;background-repeat: no-repeat;position: relative;}
.company_bg h1 {font-size: 2.5em; color: #fff; font-weight: 600;padding: 150px 0 100px 0; text-align: center; text-transform: uppercase; transition: all 2s;}
.company_bg .menu_text {width:100%;height:66.67px ; background: rgba(13,48,120,0.8); position: absolute; bottom: 0;}
.company_bg ul  {width: 34.5%;  margin: 0 auto;}
.company_bg li {/* display: inline-block; */ width: 24% ;font-size: 16px; color: #fff; padding: 20px 0; background:  rgba(13,48,120,0.8); line-height: 180%;float: left; text-align:center;}
.company_bg li.on {background: #fff;color:#000}
.company_cnt { margin: 0 260px; padding : 80px 0 100px;}
.page_tit {margin: 20px 30px; padding: 25px; font-size: 30px; font-weight: 400 ; color: #004A8D; position: relative}
.page_tit::before {content: ''; position: absolute; top:50% ; left:0;transform: translateY(-50%) ;border: 3px solid #004A8D; width: 4px; height: 4px;}
/* company page 공통 내용 끝 맨아래 줄 li:nth-child 숫자만 바꿔 쓰기*/
@media screen and ( max-width: 1166px ) {
  .company_cnt { margin: 0 160px; padding : 80px 0 100px;}
}

@media screen and ( max-width: 1024px ) {

}

@media screen and ( max-width: 767px ) {
  
}
/* *************COMPANY의 welcome페이지************ */

.company_text_box { margin-bottom:30px;}
.company_text_box h3 { font-size: 1.8em; color: #333;font-size: 500; margin: 20px 0 10px; letter-spacing: -0.04em;line-height: 180%;}
.company_text_box .ment { margin: 30px 0 10px; font-size: 15px; color:#666 ;}
.company_text_box li {font-size:15px ; color: #666; padding: 2px 0;}
.company_text_box li b {color :#000; line-height: 180%;margin-right:5px;}
.sample_img {max-width: 100%; overflow: hidden;} 

/* *************COMPANY의 history페이지************ */
.history_cnt { margin: 0 260.333px; padding : 80px 0 100px}
.hostoy_text_box {margin-bottom:30px;}
.hostoy_text_box .ment { margin: 0 0 10px; font-size: 15px; color:#666 ;}
.years h3 {padding:30px 0 10px; font-size: 26px;color: #004A8D;height: auto; width: 100%; font-weight: 600;line-height: 180%}
.years .no {color: #7ebec5;font-weight: 600; font-size: 15px;}
.years .lorem { padding-left: 10px ; font-size: 15px; color: #666; line-height: 180%;}



/* *************COMPANY의 map페이지************ */
.map_cnt { margin: 0 260.333px; padding : 80px 0 10px;}
.map_text_box {margin-bottom:30px; position: relative; height: 650px;}
.map_text_box iframe { height: 450px; width: 100%; position: absolute; left: 0px; top: 0px;touch-action: pan-x pan-y;}
.location { font-size: 15px; color:#666 ; z-index: 999; position: absolute; left: 0; bottom:20%;}