@charset "utf-8";


body { font-family: 'Roboto', 'Noto Sans KR', sans-serif !important;}

/***************************<sldie section CSS>*********************************/
.section_outer{height: 100%;}
.section_outer #section {height: 100%;}
.section_outer .slide_outer {height: 646px; position: relative;}
.section_outer .slide_inner {height: 100%;}
.slide_outer .slide {height: 100%; background-size: cover; background-repeat:no-repeat; background-position: center; position: relative;}
.slide_outer .slide.slick-active { animation: zoomOutmain 3s both 0.5s;}
/* 슬라이드 이미지 작아지면서  */
@-webkit-keyframes zoomOutmain {
    from {
      opacity: 1;
      -webkit-transform: scale3d(1.2, 1.2, 1.2);
      transform: scale3d(1.2, 1.2, 1.2);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes zoomOutmain {
    from {
      opacity: 1;
      -webkit-transform: scale3d(1.2, 1.2, 1.2);
      transform: scale3d(1.2, 1.2, 1.2);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

.slide_outer .slide1 {background-image:url(../image/slider1.jpg) }
.slide_outer .slide2 {background-image: url(../image/slider2.jpg) }
.slide_outer .slide3 {background-image: url(../image/slider3.jpg) }

/*------------------------------ <text box> ------------------------------------*/
.slide_inner .slide .text {text-align: center; position: absolute; top:40% ;left: 50%; transform: translate(-50%,-40%); transition: all 2s; opacity: 0;}
.slide_inner .slide.slick-active .text { opacity: 1;}
.slide_inner .slide .text h2 { font-size:52px; color:#fff; padding-bottom: 20px; margin-bottom: 20px; 
text-shadow: 1px 2px 2px rgba(0,0,0,0.3);}
.slide_inner .slide .text p { font-size:18px ; color: #fff;line-height: 180%;}

/*---------------------<text box 애니메이션 연결>---------------------------------*/
.slide_inner .slide.slick-active .text h2 { animation: fadeInDown 1s both 0.5s;}
.slide_inner .slide.slick-active .text p  { animation: fadeInUp 1s both 1.5s ;}
/*-----------------------------<자세히보기버튼>------------------------------------*/
.slide_outer a.btn > span { position: absolute; top: 60%;left: 50%;transform: translate(-50%,-60%); border:1px solid #fff; padding: 5px 30px;font-size:14px;margin-top: 15px;color:#fff; transition: all 2s;}
.slide_outer a.btn > span:hover {color: #000;background: #fff;}
/*---------------------------------<화살표 버튼>------------------------------------*/
.slide_outer .marrow { position: absolute; top: 50%; transform: translate(-50%); background: none; border: none; font-size: 40px; font-weight: 100; color: rgba(255, 255, 255, 0.3) }
.slide_outer .prevArrow {left: 70px; z-index: 9999; }
.slide_outer .nextArrow {right: 70px; }
/*----------------------------------<플레이 버튼>------------------------------------*/
.slide_outer .slick-dots { position: absolute; bottom: 30px; width: 100% ; text-align: center;}
.slide_outer .slick-dots li { display: inline-block; margin: 0 5px; width: 100px; height: 10px; border-radius: 10px; position: relative;background: transparent;border: 1px solid #fff; }
.slide_outer .slick-dots li button { color: transparent; position: absolute; top: 0; left: 0; width: 0; height: 10px; border-radius: 10px;}
.slide_outer .slick-dots li.slick-active button { background: #fff; animation: progressbar 2s both;}
@keyframes progressbar{
    0% {width: 0%;}
    100% {width: 100%;}
}


/******************<2번째 섹션 시작>*******************/
.our_work { padding: 80px 0; transition:all 2s;}
.our_work h2 {text-align: center; font-size: 2em; font-weight: 600;color: #2a2a2a;margin-bottom: 30px;text-transform: uppercase}
.our_work p {text-align: center; font-size: 15px; line-height: 180%;color:#666; padding-bottom: 50px;}
.our_work .ourul { margin: 0 auto; padding-left: 20px;}
.our_work .ourul .ourli { float: left; width: 23%; margin:0 0.7% ; transition: all 2s;text-align: center;}
.our_work .ourul .ourli img {width: 100%; padding: 5px 0;}
.our_work .ourul .ourli h3 { font-size: 20px; color: #333; padding-top:25px;text-transform: uppercase; font-weight: 400;}
.our_work .ourul .ourli p {font-size:14px ; color: #666; line-height: 160%;
padding:10px 0 25px;}
.our_work .ourul .ourli span { font-size: 14px; color: #999;padding: 0 25px;border: 1px #ddd solid;background: #fff;margin-top: 10px;display: inline-block; line-height: 40px;cursor: pointer; transition: all 2s;}
.our_work .ourul .ourli span:hover {background: #333;color: #fff;   border: 1px #333 solid;}
/*---------------------------<이미지박스 애니메이션>--------------------------*/
.our_work .ourul { overflow: hidden;}
.our_work .ourul .ourli { opacity: 0 ; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
.our_work.on .ourul .ourli { animation: fadeInUp 1s both 0s;}
.our_work.on .ourul .ourli:nth-child(2) {animation-delay: 0.5s;}
.our_work.on .ourul .ourli:nth-child(3) {animation-delay: 1s;}
.our_work.on .ourul .ourli:nth-child(4) {animation-delay: 1.5s;}



/********************<BANNER 구역 시작>*****************/
.banner { background: url(../image/onlines_bg.jpg) no-repeat; width:100%; height: 322px; background-size: cover; background-attachment: fixed; background-position: center; position: relative;}
.banner.on {animation: fadeInRight 1s both ;}
.banner .text {position: absolute; top:50%; left:50%; transform:translate(-50%,-50%);text-align: center;}
.banner h2 {font-size: 2em; color: #fff;margin: 0 auto 20px;font-weight: 400; margin-bottom: 20px;}
.banner.on h2 { animation: fadeInLeft 1s both 0.5s;}
.banner p { margin: 0 0 10px;line-height: 180%; color:#fff; font-size: 15px;}    
.banner.on p {animation: fadeInLeft 1s both 1s;}
.banner.on span {animation: fadeInLeft 1s both 1.5s;}
.banner span {color:#fff; border:1px solid #fff;padding: 8px 25px; font-size: 14px;line-height: 150%;display: inline-block;  margin: 10px auto 0;}
.banner span:hover {background: #fff; color: #000; }
/********************<PRODUCT 구역시작>****************************/
.product {padding:80px; position: relative;}
.product .tit { padding-bottom: 50px; text-align: center;}
.product .tit h2 { font-size: 2em; color:#2a2a2a;margin: 0 auto;font-weight: 600;text-transform: uppercase; padding-bottom:20px ;}
.product .gallery .galul .galli { float:left; width:33.333%; padding: 10px 31px; }
.product .gallery .galul .galli img { width: 100%; height: 280px;}
.product .gallery .galul .galli img:hover {opacity: 0.5; animation:  rotateIn 0.5s both;} 
.product .gallery .galul .galli p { font-size: 14px; color:#666; padding: 10px 0 20px; text-align: center;}
.product .gallery {overflow: hidden;}
.product .gallery .galul .galli.img1 { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);} 
.product .gallery .galul .galli.img2 { opacity: 0;-webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);}
.product .gallery .galul .galli.img3 {opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0);}

.product.on .gallery .galul .galli.img1 { animation: fadeInLeft 1s both;}
.product.on .gallery .galul .galli.img2 { animation: fadeInDown 1s both;}
.product.on .gallery .galul .galli.img3 { animation: fadeInRight 1s both;}

/******************************<VIDEO 구역시작>**************************/
.video { width: 100%; padding: 80px 0; background: #f1f1f1 ; text-align: center; transition: all 2s;}
.video .tit h2 { font-size: 2em;color: #2a2a2a; margin: 0 auto;
    font-weight: 600; text-transform: uppercase;padding-bottom: 20px;}
.video .tit p {color: #333; font-size: 15px; padding:20px 0 50px; }
.video .utube  { position: relative;width: 100%; padding-top: 56.25%;}
.video .utube iframe {position: absolute; width: 100%; top: 0; left: 0;}
.video .utube.on {animation: fadeInRight 1s both;}   



/***************************<게시판 구역 시작>*****************************/
.board_box { padding:80px 0;}
.board_box ul li {float: left; width: 33.333%;padding: 0 15px; transition: all 2s;}
.board_box h3 {font-size: 18px ; color: #333; text-align:center; font-weight: 600; text-transform: uppercase;}
.board_box hr { margin: 15px 0; color: #666;height: 1px;}
.board_box .notice {position: relative;}
.board_box .notice tr { border-bottom: 1px #ddd solid;}
.board_box .notice .sub { font-size: 14px; color:#666; text-align: left; padding: 10px 0;}
.board_box .notice td { font-size: 14px; color: #999; text-align: right; padding: 10px 0;}
.board_box .notice .more { position: absolute;  top: 3%; right: 5%; padding: 2px 5px; background: #ddd; font-size: 0.8em; transition: all 1s;}
.board_box .notice .more:hover { background:  #999; border: 1px solid #333;}
.board_box .csbox {transition: all 2s;}
.board_box .csbox h2 { font-size: 28px; color: #3f86cf; font-weight: 600;
    text-transform: uppercase; text-align: center;}
.board_box .csbox p { margin-bottom: 10px; font-size: 15px; color:#666; line-height: 180%; text-align: center;}
.board_box .btn_outer {text-align: center;}    
.board_box .csbox .btn {font-size: 14px; line-height: 150%; color: #999; display: inline-block; margin: 5px; padding: 8px 20px; border: 1px solid #ddd; transition: all 2s;} 
.board_box .csbox .btn:hover { background: #666; color: #fff; border: 1px #666 solid;}

