@charset "utf-8";
/* **************************<회원가입페이지 CSS>**************************** */
#join_page { padding: 80px 240px 100px;border-top: 1px solid #eee; }
.check_outer {margin-bottom: 156px;  }
.check_outer h2 { margin:20px 0 30px ;padding-left: 25px; font-size:30px ; color:#004A8D; position: relative; font-weight: 400;} 
.check_outer h2:before {content: ''; position: absolute; top:50%; left:0;transform: translateY(-50%) ;border: 3px solid #004A8D; width: 4px; height: 4px;}
.check_outer p { font-size: 14px; color: #666; line-height: 180%;
 padding-bottom: 20px;}
.check_form { width: 96%; padding: 20px; background-color: #f1f1f1;
    border: 1px #ddd solid; border-radius: 5px; margin-bottom: 10px; margin: 0 auto;}
.check_form li { display: inline-block; margin: 10px auto; }    
.check_form li label {font-size: 14px;color:#666; padding: 0 5px;}
.check_form #name_width { display: inline-block; width: 47.1px;}
#name_lbl, 
#email_lbl, 
.check_form #domain,
.check_form select {width:150px ; height:38.5px ;padding: 5px 8px;border: 1px #ddd solid }
.check_form ul li span.check_btn { display:inline-block; width: 80px ; height:38px ; color: rgb(229,229,229) ; background: rgb(102,102,102); text-align: center; margin: 0 auto;}
.check_form ul li a {display: block; text-align: center; padding:8.7px }

::placeholder {font-size: 14px; color: #666; line-height: 180%}
.join_box h2 { margin:20px 0 30px ;padding-left: 25px; font-size:30px ; color:#004A8D; position: relative; font-weight: 400;} 
.join_box h2:before {content: ''; position: absolute; top:50%; left:0;transform: translateY(-50%) ;border: 3px solid #004A8D; width: 4px; height: 4px;}
.join_box .join_form {width: 96%; padding: 20px; background-color: #f1f1f1;
    border: 1px #ddd solid; border-radius: 5px; margin-bottom: 10px; font-size: 14px; color: #666; line-height: 180%;}
.join_form .info_content {  padding-left:20px; padding-bottom:10px; }
.join_form .import_item {position: relative;}
.join_form .import_item::before {content:"※"; position:absolute; left:5px; top:0; width:15px; font-weight:bold; font-size:17px; color:#f00;}    
.join_form .info_list { padding:1px 0; border-bottom:1px solid #ccc;}
.join_form .info_list li { padding:13px 0}
.join_form .tit_lbl { display:inline-block; width:160px; line-height:45px; padding-left:20px; }
.join_form .info_content { display:inline-block; width:59%; vertical-align:top }
.join_form .info_content input[type=text],
.join_form .info_content input[type=password],
.join_form .info_content input[type=date],
.join_form .info_content select { height:38.5px; border: 1px solid #ddd; padding:5px 8px; vertical-align:top;  }
.join_form .w320 { width:320px }
.join_form .w160 { width:160px }
.join_form .w120 { width:120px }
.join_form .info_content span { line-height:45px; }
.join_form .w70p { width:70% }
.join_form .mb3 { margin:0px 0 5px}
.join_form .info_content button { height:38.5px; width:80px; border:1px solid #ccc; border-radius:5px }
.join_form .info_content button:hover { cursor:pointer; background:#ddd }
.join_form .gender_area label { line-height:38.5px; padding-right:15px  }
.join_form .marry_area label { line-height:38.5px; padding-right:15px  }
/* 라이오박스 체크박스 웹폰트 아이콘으로 이쁘게 꾸미기 */
.join_form .gender_area label::before {content:'\f14a';font-family:"Font Awesome 5 Free";font-weight: 400;color: #ccc; padding-right:10px ; display: inline-block; transform: scale(1.5); padding-left: 20px; }
.join_form .gender_area input[type=radio]:checked + label::before {font-weight: 900; color: #004A8D;}

.join_form .marry_area label::before {content:'\f14a';font-family:"Font Awesome 5 Free";font-weight: 400;color: #ccc; padding-right:10px ;display: inline-block; transform: scale(1.5); padding-left: 20px;}
.join_form .marry_area input[type=checkbox]:checked + label::before { font-weight: 900; color: #004A8D;}

.join_form .gender_area input[type=radio] {display: none;}
.join_form .marry_area input[type=checkbox] {display: none;}
.join_form .info_content textarea { height: 245px; width:70%;border:1px solid #eee;font-family: 'Roboto', 'Noto Sans KR', 'sans-serif'; font-size: 15px; letter-spacing: -2px;
color: #444; padding: 10px; line-height: 1.5; resize:none; }
.join_form .txtarea { margin: 0 auto; text-align: center;}
.join_form .btn { margin-top:20px; text-align:center }    
.join_form .btn input { width:80px; height:40px; background:rgb(102,102,102); color:rgb(229,229,229);border:none; border-radius:5px; font-size:18px; margin:0 20px }



/* ************************<로그인 페이지 CSS>*********************************** */
#login_page { padding: 80px 260px 100px;border-top: 1px solid #eee; }
.login_outer { margin-bottom: 156px; }
.login_outer h2 { margin:20px 0 30px ;padding-left: 25px; font-size:30px ; color:#004A8D; position: relative; font-weight: 400;} 
.login_outer h2:before {content: ''; position: absolute; top:50%; left:0;transform: translateY(-50%) ;border: 3px solid #004A8D; width: 4px; height: 4px;}
.login_outer p { font-size: 14px; color: #666; line-height: 180%;
 padding-bottom: 20px;}
.login_form { width: 98%; padding: 10px; background-color: #f1f1f1; border: 1px #ddd solid; border-radius: 5px; margin-bottom: 10px}
.login_form ul { margin: 0 auto; text-align: center;}
.login_form li { display: inline-block;  text-align: center; margin: 20px auto;}    
.login_form li label {font-size: 14px;color:#666; padding: 0 5px; display: inline-block; width: 60px;}

#id_lbl {width: 180px ; height:44px ; padding: 5px 8px;border: 1px #ddd solid}
#password_lbl {width:180px ; height:44px ;padding: 5px 8px;border: 1px #ddd solid }
.login_form ul li span { display:inline-block; width: 60px ; height:38px ; color: rgb(229,229,229) ; background: rgb(102,102,102); vertical-align: middle; margin: 0 5px;}
.login_form ul li span:hover {background-color: #fff;color:rgb(102,102,102);}
.login_form ul li a {display: block; text-align: center;padding:8.7px 0;}
.btn_box li { float: left;margin: 30px 5px 30px 0}
.btn_box li span {border:1px solid #eee; padding: 8px 15px ;color:#666; transition: all 2s; }
.btn_box li span:hover {background-color:#666; color: #eee ;cursor: pointer;}

@media screen and ( max-width: 1205px) {
  #login_page { padding: 80px 200px 100px;border-top: 1px solid #eee;  }

}

@media screen and ( max-width: 1166px) {
  #join_page { padding: 80px 160px 100px;border-top: 1px solid #eee; }
  .check_form li { display: block; margin: 15PX auto;}    
  .check_form ul li span.check_btn { display:block; width: 80px ; height:38px ; color: rgb(229,229,229) ; background: rgb(102,102,102); text-align: center; }
  #login_page { padding: 80px 160px 100px;border-top: 1px solid #eee;  }

  
}

@media screen and ( max-width: 1024px) {
  #join_page { padding: 80px 110px 100px;border-top: 1px solid #eee; }
  .check_form #name_width,
  .check_form ul li > label { display: block; margin: 10px 0; }
  #name_lbl, 
  #email_lbl, 
  .check_form #domain,
  .check_form select {width:30% ; height:38.5px ;padding: 5px 8px;border: 1px #ddd solid }

  .join_form .info_list label { display: block;}
  .join_form .info_content { display:inline-block; width:95%; vertical-align:top }
  .join_form .info_content textarea { height: 245px; width:95%;border:1px solid #eee;font-family: 'Roboto', 'Noto Sans KR', 'sans-serif'; font-size: 15px; letter-spacing: -2px;
    color: #444; padding: 10px; line-height: 1.5; resize:none; }

  #login_page { padding: 80px 120px 100px;border-top: 1px solid #eee;  }
  #login_page .login_outer > p { display: none;}
  #id_lbl {width: 250px ; height:40px ; padding: 5px 8px;border: 1px #ddd solid; margin-top: 5px;}
  #password_lbl {width:250px ; height:40px ;padding: 5px 8px;border: 1px #ddd solid; margin-top: 5px; } 
  .login_form ul li:last-child { display:block; }  

  
  }

@media screen and ( max-width: 767px) {
  #join_page { padding: 80px 20px 100px;border-top: 1px solid #eee; }
  #name_lbl, 
  #email_lbl, 
  .check_form #domain,
  .check_form select {width:80% ; height:38.5px ;padding: 5px 8px;border: 1px #ddd solid }
  
  .join_form .w70p,
  .join_form .w320, 
  .join_form #id_lbl,
  .join_form #tel_lbl,
  .join_form .w160,
  .join_form .w120 { display: block ;width:85% }

  .join_form .info_content span { display: none;}

  #login_page { padding: 80px 20px 100px;border-top: 1px solid #eee; font-size: 12px;}
  .btn_box li span {border:1px solid #eee; padding: 8px 5px ;color:#666; transition: all 2s; }
  #id_lbl {width: 200px ; height:40px ; padding: 5px 8px;border: 1px #ddd solid; margin-top: 5px;}
  #password_lbl {width:200px ; height:40px ;padding: 5px 8px;border: 1px #ddd solid; margin-top: 5px; } 
  .login_form li label {width: 100%; display: inline-block; text-align: left;}
  #id_lbl {display: block;}
  #password_lbl {display: block;}

  

}



/*****************************<사이트맵 페이지 CSS>*************************************/
#sitemap_page { padding: 80px 260px 150px;border-top: 1px solid #eee; }
.sitemap_outer h2 { margin:20px 0 100px ;padding-left: 25px; font-size:30px ; color:#004A8D; position: relative; font-weight: 400;}
.sitemap_outer h2:before {content: ''; position: absolute; top:50%; left:0;transform: translateY(-50%) ;border: 3px solid #004A8D; width: 4px; height: 4px;}  
.site_cont { width: 96%; padding:80px 80px 100px 80px; background-color: #f1f1f1; border: 1px #ddd solid; border-radius: 5px;}
.site_cont .cf {padding: 30px 0 20px; border-bottom: 1px solid #004A8D; position: relative;}
.site_cont .site_tit { float: left; width:  120px; font-size: 24px ; line-height: 30px; color: #000; padding: 0 15px ; margin-right: 20px;} 
.site_cont .site_tit a:before { content: ''; position: absolute; top: 60%; left: 5px; transform: translateY(-60%); border: 2px solid #000; width:2px; height: 2px;}
.site_cont .site_list li { float: left; width: 105px ;font-size: 14px; line-height: 30px; color: #666; transition: all 0.5s;  }
.site_cont .site_list li:hover {color:#03aace; font-weight: 600;}
.site_cont .site_list li:active {color:#03aace; font-weight: 700;}

@media screen and ( max-width: 1510px) {
  #sitemap_page { padding: 80px 140px 150px;border-top: 1px solid #eee;}
}

@media screen and ( max-width: 1166px) {
   
}

@media screen and ( max-width: 1024px) {

}
@media screen and ( max-width: 767px) {
  
}














