@charset 'utf-8';

@media screen and ( max-width: 1166px ) {
    .row { padding: 0 10px ;}
    .topmenu { text-align:right ;padding:8px 50px 8px 10px ; line-height:180% ;}
    .logo_nav .logo { position:absolute; top:0; left: 0;text-align: center; padding: 14px 10px 14px 130px;}
    
    .logo_nav .nav { position: absolute; top:0 ;right: 10px;}
    .our_work { padding: 80px 0; transition:all 2s;}
    .board_box { padding:80px 0;}

}

@media screen and ( max-width: 1024px ) {
    .logo_nav {position:relative; height:180px ;}
    .logo_nav .logo {display:inline-block; position:absolute; top: 0; left:50%; transform: translateX(-50%);  padding: 34px 10px 10px;z-index: 9999; }
    .logo_nav .nav  {position: relative; top: 50%; right: 0; width: 100%; }
    .logo_nav .nav .depth1 {text-align: center; background: #fff;}
    .logo_nav .nav .depth1 > li > a {display: inline-block; padding:27.5px 30px;font-size: 20px ;font-weight: 550;}
    .logo_nav .depth2 {position:absolute; top: 100%; left:0; width: 100% ;padding: 20px 15px; text-align: center; display: none;  }
    .logo_nav .depth2 > li {line-height: 38px; }
    .logo_nav .depth2 >  li > a {font-size: 16px ;z-index: 9;}

    .board_box { padding:80px 10px;}
    .footer .cs_menu {margin: 0 60px; text-align: center; }
    .footer .director { margin: 0 60px; padding: 30px 0; color: #999; line-height: 180%; }

}
@media screen and ( max-width: 767px ) {
    .logo_nav {position:relative; height:90px ;}
    .logo_nav .logo {display:inline-block; position:absolute; top: 50%; left:50%; transform: translate(-50%,-50%);  padding: 14px 10px 40px;}
    .logo_nav .nav  { position: absolute; top: 100% ;right: 0; z-index: 9999 ;background: #fff;
    width: 30%;}
    .logo_nav .nav .depth1 { padding: 20px 0;}
    .logo_nav .nav .depth1 > li {display:block; }
    .logo_nav .nav .depth1 > li > a {display:inline-block; padding:10px 50px 20px;text-align: right; font-size: 20px;}
    .logo_nav .open_nav { display:block; position: absolute; top: 25px; right: 60px; font-size: 40px;} 
    .logo_nav .close_nav { display:none; position: absolute; top: 25px; right: 60px; font-size: 40px; } 
    .logo_nav .depth2 {position:static; top: 100%; left:0 ; text-align: center; display: block;  }
    .logo_nav .depth2 > li {line-height: 30px; }
    .logo_nav .depth2 >  li > a {font-size: 16px ;z-index: 9;}
    .deco_box { display: none; }

}
