@charset 'utf-8';

@media screen and ( max-width: 1166px ) {
    .row { padding: 0 10px ;}
    .topmenu { text-align:right ;padding:8px 50px 8px 10px ; line-height:180% ;}
    
    .logo_nav .nav { position: absolute; top:0 ;right: 10px;}
    .our_work { padding: 80px 0; transition:all 2s;}
    .board_box { padding:80px 0;}

}

@media screen and ( max-width: 1024px ) {
    .topmenu { text-align:right ;padding:5px 8px; line-height:150% ;}
    .topmenu a { padding-left: 1em; font-size: 13px}
    .topmenu a:first-child { color:rgb(45,180,0);font-weight: 400;}
    .topmenu a:nth-child(2) {color:red;font-weight: 400}
    .topmenu a:nth-child(3) {color:plum;font-weight: 00}
    .logo_nav {position:relative; height:180px ;}
    .logo_nav .logo { text-align: center; margin: 0 auto;padding: 14px 0;}
    .logo_nav .nav { position: static; top:0 ;right: 10px;}
    .logo_nav .nav .depth1 {text-align: center; background: #fff;}
    .logo_nav .nav .depth1 > li > a {display: inline-block; padding:27.5px 30px;font-size: 20px ;font-weight: 550;}
    .logo_nav .depth2 {position:absolute; top: 100%; left:0; width: 100% ;padding: 20px 15px; text-align: center; display: none;  }
    .logo_nav .depth2 > li {line-height: 38px; }
    .logo_nav .depth2 >  li > a {font-size: 16px ;z-index: 9;}
    .board_box { padding:80px 10px;}
    .footer .cs_menu {margin: 0 60px; text-align: center; }
    .footer .director { margin: 0 60px; padding: 30px 0; color: #999; line-height: 180%; }

}

@media screen and ( max-width: 767px ) {
    .logo_nav {position:relative; height:90px ;}
    .logo_nav .logo { text-align: left; margin: 0 auto;padding: 14px 0;}
    .logo_nav .nav { position: fixed; top: 124.53px ; bottom:0 ;right: 0px; overflow-y: auto; display: none;}
    .logo_nav .nav .depth1 { padding: 20px 0;}
    .logo_nav .nav .depth1 > li {display:block; }
    .logo_nav .nav .depth1 > li > a {display:inline-block; padding:10px 50px 20px;text-align: right; font-size: 20px;}
    .logo_nav .open_nav { display:block; position: absolute; top: 25px; right: 60px; font-size: 25px; z-index: 999;} 
    .logo_nav .close_nav { display:none; position: absolute; top: 25px; right: 60px; font-size: 25px; z-index: 999;} 
    .logo_nav .depth2 {position:static; top: 100%; left:0 ; text-align: center; display: none;  }
    .logo_nav .depth2 > li {line-height: 30px; }
    .logo_nav .depth2 >  li > a {font-size: 16px ;z-index: 9;}
    .deco_box { display: none; }

    .director .row span {display: inline-block;}
}

@media screen and (max-width:650px) { 
  .footer .cs_menu a { display: inline-block; padding: 5px 0; border-bottom: solid 1px #999;}
}

@media screen and (max-width:400px) {
  .logo_nav .logo strong,
  .logo_nav .logo_text1 { font-size: 20px;}
} 