@charset "utf-8";

@media screen and (max-width:1166px) {

}

@media screen and (max-width:1024px) {
  /* .logo_nav {position:relative; height:80px; width: 100%; padding: 0;} */
  .section_outer .slide_outer {height: 346px; position: relative;}
  .slide_outer a {display: none;}
  .slide_inner .slide .text {text-align: center; position: absolute; top:50% ;left: 50%; transform: translate(-50%,-50%); transition: all 2s; opacity: 0;}
  .slide_inner .slide.slick-active .text { opacity: 1;}
  .slide_inner .slide .text h2 { font-size:40px; color:#fff; padding-bottom: 20px; margin-bottom: 20px; 
    text-shadow: 1px 2px 2px rgba(0,0,0,0.3);}
  .slide_inner .slide .text p { font-size:14px ; color: #fff;line-height: 180%;}

 

  
}
@media screen and (max-width:767px) {
  .slide_inner .slide .text h2 { font-size:34px; color:#fff; padding-bottom: 20px; margin-bottom: 20px; 
    text-shadow: 1px 2px 2px rgba(0,0,0,0.3);}
  .slide_inner .slide .text p { font-size:12px ; color: #fff;line-height: 180%;}
  
  .slide_outer .slick-dots li { display: inline-block; margin: 0 5px; width: 50px; height: 8px; border-radius: 8px; position: relative;background: transparent; border: 1px solid #fff; }
  .slide_outer .slick-dots li button { color: transparent; position: absolute; top: 0; left: 0; width: 0; height: 8px; border-radius: 8px;}
  .our_work .ourul .ourli { float: left; width: 48%; margin:10px auto ; transition: all 2s; text-align: center;}
  .banner { background: url(../image/onlines_bg.jpg) no-repeat; width:100%; height: 280px; background-size: cover; background-attachment: fixed; background-position: center; position: relative;}
  .banner .text {position: absolute; top:50%; left:50%; transform:translate(-50%,-50%);text-align: center;}
  .banner h2 {font-size: 1.6em; color: #fff;margin: 0 auto 20px;font-weight: 400; margin-bottom: 20px;}
  .banner p { margin: 0 0 10px;line-height: 180%; color:#fff; font-size: 12px;}   

  .product .tit h2 { font-size: 1.6em; color:#2a2a2a;margin: 0 auto; font-weight: 600; text-transform: uppercase; padding-bottom:20px ;}
  .product .gallery .galul .galli { float:left; width:100%; padding: 8px 20px; }


  .board_box ul li {float: none; width: 100%;padding: 0 15px; transition: all 2s;}
  .product .gallery .galul .galli img { width: 100%; height: 200px;}
}



@media screen and (max-width:480px) { 
  .slide_inner .slide .text {text-align: center; position: absolute; top:40% ;left: 50%; transform: translate(-50%,-40%); transition: all 2s; opacity: 0;}
  .slide_inner .slide .text span { display: block;}

  /* .our_work .ourul .ourli { float: left; width: 98%; margin: 6px auto ; transition: all 2s; text-align: center;} */
  .banner p > span {display: block;}
}
